ANVILNOTE_WEB_DIR=../anvilnote-web
ANVILNOTE_API_DIR=../anvilnote-api
ANVILNOTE_RENDERER_DIR=../anvilnote-renderer
ANVILNOTE_WEB_DIST=dist
ANVILNOTE_API_DIST=dist
ANVILNOTE_RENDERER_DIST=dist
ANVILNOTE_DESKTOP_PORT=38317
ANVILNOTE_WEB_DEV_URL=http://localhost:5173
